<h2>진료 예약</h2>
<ul class="uk-list uk-margin-large-bottom">
    <li>
        <a class="uk-link-muted" href="https://m.booking.naver.com/booking/13/bizes/369432?theme=place&entry=pll&area=pll" aria-label="예약하기">
            <img src="assets/icon/btn_naver.svg"> 간편예약
        </a>
    </li>
    <li>
        <a class="uk-link-muted" href="http://pf.kakao.com/_vUyxoxb" aria-label="카톡 문의">
            <img src="assets/icon/btn_kakao.svg"> 카톡문의
        </a>
    </li>
    <li>
        <a class="uk-link-muted" href="tel:0507-1352-5175" aria-label="전화 걸기">
            <span uk-icon="receiver"></span> 0507-1352-5175
        </a>
    </li>
</ul>