<h2>진료 안내</h2>
<h3>진료시간</h3>
<table class="uk-table uk-table-divider uk-table-small uk-table-justify">
    <thead>
        <tr>
            <th>요일</th>
            <th>진료시간</th>
            <th>점심시간</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>평일</td>
            <td>AM 10 to PM 8</td>
            <td>1:30 to 2:30</td>
        </tr>
        <tr>
            <td>토요일</td>
            <td>AP 10 to PM 2</td>
            <td>없음</td>
        </tr>
        <tr>
            <td>공휴일</td>
            <td>휴진</td>
            <td></td>
        </tr>
</table>
<h3>위치</h3>
<div id="map" style="width: 100%; height: 300px; margin:0 auto;"></div>

<script type="text/javascript" src="assets/js/map.js"></script>
<script>
    var map = new naver.maps.Map('map', {
        center: new naver.maps.LatLng(37.2622655, 127.0312243), //지도의 초기 중심 좌표
        zoom: 17, //지도의 초기 줌 레벨
        minZoom: 8, //지도의 최소 줌 레벨
        zoomControl: false, //줌 컨트롤의 표시 여부
    });

    var marker = new naver.maps.Marker({
        position: new naver.maps.LatLng(37.2622655, 127.0312243),
        map: map
    });

    var contentString = [
        '<div style="width:100%;height:24px;padding:10px 10px 10px 20px;">',
        '<a href="https://map.naver.com/v5/entry/place/1283292950"><h3 style="color:#eee">청구경희한의원</h3></a>',
        '</div>'
    ].join('');

    var infowindow = new naver.maps.InfoWindow({
        content: contentString,
        maxWidth: 140,
        backgroundColor: "#142e5d",
        borderColor: '#142e5d',
        borderWidth: 2,
        borderRadius: 5,
        anchorSize: new naver.maps.Size(15, 30),
        anchorSkew: true,
        anchorColor: "#142e5d",
        pixelOffset: new naver.maps.Point(20, 0),
        scaleControl: false
    });

    infowindow.open(map, marker);

    naver.maps.Event.addListener(marker, 'click', function(e) {
        window.open("https://map.naver.com/v5/entry/place/1283292950")
    });
</script>

<video class="uk-margin-top" src="assets/video/main_avi.mp4" width="1800" height="1200" loop muted playsinline uk-video="autoplay: inview"></video>