<h2>진료 안내</h2>
<p>안녕하세요. 수원 인계동의 청구경희한의원 원장 김형규입니다.</p>
<p>지난
    <script type="text/javascript">
        document.write(new Date().getFullYear() - 2013);
    </script>년간 수원에서 환자분들을 진료하며 여러 질환으로 고생하는 분들을 도와드렸습니다.
    이 곳에 오신 한 분 한 분 정성껏 치료해 드리겠습니다.
</p>
<video class="uk-margin-top" src="assets/video/main_avi.mp4" width="800" height="450" loop muted playsinline
    uk-video="autoplay: inview" poster="assets/video/main_avi_thumbnail.png">
    Your browser does not support the video tag.
</video>

<h3>※ 진료시간</h3>
<table class="uk-table uk-table-divider uk-table-small uk-table-justify">
    <thead>
        <tr>
            <th>요일</th>
            <th>진료시간</th>
            <th>점심시간</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>평일</td>
            <td><span style="color:black">오전 10시 ~ 저녁 8시</span></td>
            <td>1시 30분 ~ 2시 30분</td>
        </tr>
        <tr>
            <td>토요일</td>
            <td><span style="color:black">오전 10시 ~ 오후 2시</span></td>
            <td>없음</td>
        </tr>
        <tr>
            <td>일ㆍ공휴일</td>
            <td>휴진</td>
            <td></td>
        </tr>
</table>
<h3>※ 위치</h3>
<ul class="uk-list uk-list-hyphen">
    <li>위치 : 수원 인계동 수원시청역 7번 출구 앞</li>
    <li>주소 : 경기도 수원시 팔달구 효원로 269, 에스팝타워 2층 청구경희한의원</li>
</ul>
<div id="map" style="width: 100%; height: 300px; margin:0 auto;"></div>
<script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=qzhejmsgi6"></script>
<script>
    var map = new naver.maps.Map('map', {
        center: new naver.maps.LatLng(37.2622655, 127.0312243), //지도의 초기 중심 좌표
        zoom: 17, //지도의 초기 줌 레벨
        minZoom: 8, //지도의 최소 줌 레벨
        zoomControl: false, //줌 컨트롤의 표시 여부
    });

    var marker = new naver.maps.Marker({
        position: new naver.maps.LatLng(37.2622655, 127.0312243),
        map: map
    });

    var contentString = [
        '<div style="width:100%;height:24px;padding:10px 10px 10px 20px;">',
        '<a href="https://map.naver.com/v5/entry/place/1283292950"><h3 style="color:#eee">청구경희한의원</h3></a>',
        '</div>'
    ].join('');

    var infowindow = new naver.maps.InfoWindow({
        content: contentString,
        maxWidth: 140,
        backgroundColor: "#142e5d",
        borderColor: '#142e5d',
        borderWidth: 2,
        borderRadius: 5,
        anchorSize: new naver.maps.Size(15, 30),
        anchorSkew: true,
        anchorColor: "#142e5d",
        pixelOffset: new naver.maps.Point(20, 0),
        scaleControl: false
    });

    infowindow.open(map, marker);

    naver.maps.Event.addListener(marker, 'click', function (e) {
        window.open("https://map.naver.com/v5/entry/place/1283292950")
    });
</script>