:root {
    --main-bg-color: brown;
    --main-font-color: #fff;
    --content-bg-color: #eee;
    --content-font-color: #222;
    --muted-bg-color: #333;
    --muted-bg-font-color: #eee;
    --event-bg-color: deeppink;
    --event-font-color: #fff;

    --notification-bg-color: #eee;
    --notification-font-color: #333;
    --notification-height: 40px;
}

@font-face {
    font-family: 'Noto Sans KR';
    src: url('assets/fonts/NotoSansKR-Regular.woff2') format(‘woff2’),
        url('assets/fonts/NotoSansKR-Regular.otf') format('opentype')
}

* {
    font-family: 'Noto Sans KR', sans-serif;
}

html {
    background-color: var(--muted-bg-font-color);
}

body {
    margin-top: var(--notification-height);
}

nav {
    height: 60px;
}

h1 {
    font-size: 22px;
}

h1.brand {
    max-width: 800px;
    margin: 15px auto;
    font-size: 16px;
    font-weight: bold;
    padding-left: 15px;
}

h2 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 60px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
}

h2.brand {
    font-size: 22px;
    margin-top: 0;
}

h3 {
    font-size: 18px;
    font-weight: bold;

}

h4 {
    font-size: 18px;
}

p {
    font-size: 16px;
}

.uk-table th {
    text-transform: none;
}

@media(max-width: 640px) {
    .uk-overlay {
        padding: 10px;
    }

    h4 {
        font-size: 14px;
    }
}

.uk-list-hyphen>li {
    padding-left: 15px;
}

.uk-grid {
    margin-left: 0;
}

.uk-grid>dl {
    padding: 15px;
}

.uk-text-meta {
    color: #777;
}

dl {
    padding: 10px;
    background-color: #fff;
}

dt {
    margin-bottom: 10px;
    font-size: 14px !important;
    font-weight: bold !important;
}

.uk-light .uk-dotnav>.uk-active>* {
    background-color: #555;
}

.uk-light .uk-dotnav>*>* {
    border-color: #555;
}

/* event */

h2.uk-modal-title {
    font-size: 20px;
    font-weight: bold;
    margin-top: 0;
    padding-bottom: 15px;
}

.event-button-group {
    border-radius: 5px;
    overflow: hidden;
}

.event-button-group button {
    width: 100%;
}

.event {
    background-color: var(--event-bg-color);
    color: var(--event-font-color);
    margin: 0 auto;
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
    word-break: keep-all;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease 0s;
    overflow: hidden;
}

.event button {
    background-color: inherit;

}

.uk-modal-body .subscribe-button {
    background-color: var(--event-bg-color);
    color: var(--event-font-color);
}



/* header */

header h2 {
    background-color: var(--main-bg-color);
    color: var(--main-font-color);
    padding: 50px;
}

@media (max-width: 640px) {
    header h2 {
        padding: 50px 20px;
    }
}

header,
main,
footer {
    margin: 0 auto;
    max-width: 800px;
}

main {
    padding: 0 15px;
}

.header {
    margin: 0 15px;
}

.header>* {
    padding-left: 0;
}

.header-img {
    padding-left: 20px;
}

@media (max-width: 639px) {
    .header-img {
        padding-left: 0;
    }
}

.uk-description-list {
    word-wrap: break-word;
    text-align: justify;
}

th {
    text-align: right !important;
}

td {
    font-size: 14px;
    padding: 8px 8px 8px 0 !important;
    text-align: right;
}

.uk-table {
    max-width: 400px;
}

/* footer */

footer {
    padding: 15px;
    background-color: var(--muted-bg-color);
    color: var(--muted-bg-font-color);
    font-size: 12px;
    gap: 0 15px;
}


/* .notification */

.notification {
    display: flex;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 3px 10px;
    background-color: var(--notification-bg-color);
    width: 100vw;
    max-width: 800px;
}

.notification a {
    color: var(--notification-font-color);
    text-decoration: none;
}



div.notification-item {
    padding: 5px 10px;
    text-align: center;
    width: 100%;
    transform: translateX(-12px);
}

button.notification-item {
    border: none;
    background: none;
}

.notification-item:nth-child(1) {
    order: 2;
}

.notification-item:nth-child(2) {
    order: 1;
}

.notification-item:nth-child(3) {
    order: 3
}


/* navigation */

.uk-navbar-container:not(.uk-navbar-transparent) {
    background: var(--main-bg-color);
}

ul.uk-navbar-nav li {
    color: var(--main-font-color)
}



/* event detail */

.event-detail {
    max-width: 800px;
    padding: 10px;
}

.event-detail>* {
    padding: 10px;
}


/* Opening */

.privacy * {
    font-size: 12px !important;
}

.privacy h2 {
    font-size: 16px !important;
}

.privacy h3 {
    font-size: 14px !important;
}

.privacy button {
    font-size: 16px !important;
}

#agreementBtn {
    background-color: var(--event-bg-color);
}

/* Ingredients */

.documents>* {
    padding: 10px;
}

/* effect */

.research>* {
    padding: 10px;
}

.myForm {
    border: 1px solid var(--event-bg-color);
    border-radius: 5px;
    padding: 15px;
}

.myFormBtn {
    background-color: var(--event-bg-color);
    color: var(--event-font-color);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}