<div class="notification">
    <div id="event-modal" uk-modal>
        <div class="uk-modal-dialog uk-modal-body">
            <h2 class="uk-modal-title">2023년 추석 명절 할인 안내(~2023.09.31)</h2>
            <div 
                class="uk-margin uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light" 
                data-src="/assets/images/event/event.png" uk-img
            >
                <h1>임시 종료</h1>
              </div>
            <div class="event-button-group uk-button-group uk-width-1-1">
                <button class="uk-button subscribe-button" type="button">신청하기</button>
                <button class="uk-button uk-button-default uk-modal-close" type="button">닫기</button>
            </div>
        </div>
    </div>
</div>