<h2>녹용경옥고</h2>
<p>
    경옥고는 동의보감에서 성품을 기르고 수명을 늘리는 약(養性延年藥餌)에 소개된 고(膏) 형태의 한약입니다. ‘동의보감에서 가장 먼저 소개되는 약’으로도 유명합니다.
    경옥고는 물에 중탕하여 졸여낸 형태의 약으로 인삼, 생지황, 꿀 복령으로 구성되어 있습니다. 5일 밤낮을 쉬지 않고 정성으로 끓임으로서 생지황과 꿀의 찬 기운을 평하게 하여 장복이 가능하도록 만들었습니다.
</p>

<h3>경옥고의 효능</h3>
    塡精補髓 정을 보하고 골수를 채웁니다.
    髮黑齒生 머리카락을 검게 하고 이가 약해진 사람에게 좋습니다.
    萬神具足 除百病 정신을 기르고 병에 걸리지 않게 합니다.
    머리가 희끗희끗해지며 몸이 약해졌다고 느껴질 때
    집중력이 떨어지고 기억력이 감퇴될 때
    평소에 기운이 없고 감기에 한 번 걸리면 오래는 사람

<h3>경옥고 복용법</h3>
하루 1-2회 새벽 공복에 혹은 자기 전 공복에 복용합니다.
생약성분이기 때문에 냉장보관하며 복용 분량만큼 덜어내어 드시는 것이 좋습니다.
떠서 먹어도 좋으며 따뜻한 물이나 술에 타서 복용하면 더욱 좋습니다.
    
<h3>경옥고 약재</h3>

<p>인삼<p>
<p>
    인삼의 성질은 약간 따뜻하고 맛은 달며 독이 없다. 오장의 기가 부족한 데 쓰며 원기를 크게 보한다.
</p>

<p>생지황의 효능</p>
<p>
    성질은 차고 맛은 달며 독이 없다. 열을 풀어내고 어혈을 통하게 하며 혈을 보한다.
</p>

<p>꿀의 효능</p>
<p>
    성질이 약간 따뜻하고 맛은 달며 독이 없다. 오장을 편안하게 하고 기운이 나게 하며 중기를 보함.
</p>

<p>복령의 효능</p>
<p>
    성질이 평하고 맛은 달며 독이 없다. 정신을 맑게 하고 장을 튼튼하게 하며 위를 다스린다. 진액을 통하게 하여 몸이 붓고 소변이 안 나가는 것을 </p>
</p>


    아이들 동영상