

<h3>조선 왕실의 보약 공진단, 필요하신 분들을 위해 정성껏 준비했습니다.</h3>
<p>
    식품의약품안전처의 인증번호를 부여받은 정품 사향과 의약품 안전 기준을
    통과한 한약재를 사용하여 조제과정, 정품, 정량의 원칙을 철저히 준수하여
    한의사 김형규가 직접 제환하고 처방해드립니다.
</p>
<div class="making uk-child-width-1-2@s" uk-grid>
    <dl class="uk-description-list">
        <dt>사향공진단</dt>
        <dd>
            의서에 기록된 그대로의 공진단입니다.
            개규성신 작용이 강한 러시아 사향을 홍콩을 경유하지 않고 직수입하여
            바로 식약처의 시험검사를 거친 정품 사향만을 고집합니다.
        </dd>
    </dl>
    <dl class="uk-description-list">
        <dt>녹용공진단</dt>
        <dd>
            사향과 같이 개규성신 작용을 하는 목향을 함유한 공진단으로,
            간과 신장 기능을 활성화하여 혈을 보충하고 뼈를 단단하게 하는
            녹용의 함량을 두 배로 넣어 효능을 향상시켰습니다.
        </dd>
    </dl>
</div>

<div class="uk-position-relative uk-visible-toggle uk-light uk-margin-top" tabindex="-1" uk-slider="center:true;autoplay:true;autoplay-interval:2000">

    <ul class="uk-slider-items uk-child-width-1-2 uk-child-width-1-3@s uk-child-width-1-4@m uk-grid uk-grid-small">
        <li>
            <picture>
                <source type="image/webp" srcset="assets/images/making/1.webp">
                <img src="assets/images/making/1.jpg" width="400" height="600" alt="공진단 만드는 모습1">
            </picture>
            <!-- <div class="uk-position-center uk-panel"><h1>1</h1></div> -->
        </li>
        <li>
            <picture>
                <source type="image/webp" srcset="assets/images/making/2.webp">
                <img src="assets/images/making/2.jpg" width="400" height="600" alt="공진단 만드는 모습2">
            </picture>
            <!-- <div class="uk-position-center uk-panel"><h1>2</h1></div> -->
        </li>
        <li>
            <picture>
                <source type="image/webp" srcset="assets/images/making/3.webp">
                <img src="assets/images/making/3.jpg" width="400" height="600" alt="공진단 만드는 모습3">
            </picture>
            <!-- <div class="uk-position-center uk-panel"><h1>3</h1></div> -->
        </li>
        <li>
            <picture>
                <source type="image/webp" srcset="assets/images/making/4.webp">
                <img src="assets/images/making/4.jpg" width="400" height="600" alt="공진단 만드는 모습4">
            </picture>
            <!-- <div class="uk-position-center uk-panel"><h1>4</h1></div> -->
        </li>
        <li>
            <picture>
                <source type="image/webp" srcset="assets/images/making/5.webp">
                <img src="assets/images/making/5.jpg" width="400" height="600" alt="공진단 만드는 모습5">
            </picture>
            <!-- <div class="uk-position-center uk-panel"><h1>5</h1></div> -->
        </li>
        <li>
            <picture>
                <source type="image/webp" srcset="assets/images/making/6.webp">
                <img src="assets/images/making/6.jpg" width="400" height="600" alt="공진단 만드는 모습6">
            </picture>
            <!-- <div class="uk-position-center uk-panel"><h1>6</h1></div> -->
        </li>
    </ul>

    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

</div>