<h2 class="brand">600년의 역사를 품은 공진단,<br>현대를 사는 우리에게도 좋습니다.</h2>

<article class="header" uk-grid>
    <div class="header-text uk-width-1-1">
        <h3>세종대왕과 허준, 그리고 공진단</h3>
        <p>
            공진단은 송나라 왕구의 시재백일선방(1196년)에 처음 기재되어
            조선 세종대왕의 세의득효방(1425년)과 허준의 동의보감(1619년)에 대를 이어 기록된 처방입니다.
        </p>
        <p>
            공진단은 선천과 후천의 정기를 채워주고 막힌 곳을 모두 뚫어주어
            통하지 않는 곳이 없게 해주는 명약입니다.
            동의보감에는 '태어날 때 허약한 체질을 타고나더라도
            공진단을 복용하면 선천의 기운을 굳건하게 하여
            수승화강을 도우므로 백병이 생기지 않는다'라고 설명하고 있습니다.
        </p>
        <h3>五臟自和, 百病自去</h3>
        <p>오장을 조화롭게 하여 백병이 스스로 물러나다</p>
    </div>

    <h3 class="uk-width-1-1">청구경희한의원 공진단의 특별함</h3>
    <div class="uk-alert-danger uk-width-1-1 uk-margin-bottom" uk-alert>
        <ul class="uk-list special">
            <li>한의사가 직접 만드는가? <span class="uk-margin-small-right" uk-icon="arrow-right"></span> <b>Yes</b></li>
            <li>국내산 약재를 사용하는가? <span class="uk-margin-small-right" uk-icon="arrow-right"></span> <b>Yes</b></li>
            <li>정품 사향을 사용하며 정량의 원칙을 지키는가? <span class="uk-margin-small-right" uk-icon="arrow-right"></span> <b>Yes</b>
            </li>
            <li>러시아산 녹용 분골과 상대 부분만을 사용하는가? <span class="uk-margin-small-right" uk-icon="arrow-right"></span> <b>Yes</b>
            </li>
            <li>순도 99% 이상의 특제품 순금으로 포장하는가? <span class="uk-margin-small-right" uk-icon="arrow-right"></span> <b>Yes</b>
            </li>
        </ul>
    </div>

    <!-- <div class="header-text uk-width-1-2@s">
        <p>
            <span class="uk-text-meta">女科百問(1220년) 所以女 此而斷 是謂選年 勿怪 后當自下 拱辰丹</span><br>
            <span class="uk-text-emphasis">여자아이가 월경을 못 하는 것은 선천적으로 허약한 것이니 공진단으로 치료할 수 있다.</span>
        </p>
        <p>
            <span class="uk-text-meta">魏氏家藏方(1227년) 拱辰丹 溫暖子宮 久服能令有孕</span><br>
            <span class="uk-text-emphasis">공진단은 자궁을 따뜻하게 하여 오래 복용하면 임신을 할 수 있다.</span>
        </p>
        <p>
            <span class="uk-text-meta">世醫得效方(1345년) 使水升火降 則五臟自和 百病自去 此方主之</span><br>
            <span class="uk-text-emphasis">수승화강이 되게 하여 오장을 조화롭게 되면 백병이 스스로 물러나니 공진단의 효과이다.</span>
        </p>
        <p>
            <span class="uk-text-meta">晋濟方(1390년) 産後諸疾門 産後調補</span><br>
            <span class="uk-text-emphasis">산후에 조리하고 몸을 보하는 약</span>
        </p>
        <p>
            <span class="uk-text-meta">東醫寶監(1610년) 治虛勞肝損 面無血色 筋緩目暗</span><br>
            <span class="uk-text-emphasis">몸이 지치고 원기가 손상된 것이 간에 미치면 혈색을 잃고 몸이 늘어지면 눈이 침침해지니 이를 치료한다.</span>
        </p>
        <p>
            <span class="uk-text-meta">別抄單方(1927년) 虛勞 拱辰丹 鹿茸 當歸 山茱 麝香 肝腎俱虛</span><br>
            <span class="uk-text-emphasis">허로에는 공신단을 처방한다. 녹용 당귀 산수유 사향이 들어가니 간과 신장이 모두 허한 것이다.</span>
        </p>
    </div>
    <div class="header-img uk-width-1-2@s">
        <picture>
            <source type="image/webp" srcset="assets/images/human.webp">
            <img src="assets/images/human.jpg" width="400" height="640" alt="동의보감 속 인체 그림">
        </picture>
    </div> -->
</article>